$grey-vlight: #e6e6e6;
$grey-light: rgb(224, 224, 224);
$grey-dark: rgb(34, 34, 34);
$white: #FFFFFF;
$black: rgb(0, 0, 0);
$yellow: rgb(255, 255, 207);
$terminal-red: rgb(196, 63, 63);
$terminal-yellow: rgb(199, 169, 71);
$terminal-green: rgb(71, 199, 125);
$terminal-blue: rgb(66, 150, 228);
$terminal-purple: rgb(176, 135, 223);
$container-max-width: 100rem;

// From defaults.css
$color-link: $terminal-red;
$color-visited-link: $terminal-purple;